<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CloudFlare DDNS</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="/static/normalize.css">
  <link rel="stylesheet" href="/static/skeleton.css">
  <style>
    .docs-header {
      text-transform: uppercase;
      font-size: 1.4rem;
      letter-spacing: .2rem;
      font-weight: 600;
    }
    .docs-section {
      border-top: 1px solid #eee;
      padding: 4rem 0;
      margin-bottom: 0;
    }
    .docs-span {
      height: 38px;
      padding: 6px 10px 6px 0px;
      margin-bottom: 1.5rem;
      line-height: 38px;
    }
    .red {color:brown}
    .container {padding-bottom: 60px;}
    .dark {
      background: #000000;
      color:#eee
    }
    .dark .u-full-width {
      color: #000
    }
    .dark button[disabled] {
      background: #eee;
      color: #000
    }
  </style>
</head>

<script type="module">
  import { createApp } from '/static/petite-vue.es.js'
  const Rooturi = window.location.origin + '/api/'
  function httpserver(url = '', data = {}, type = 'GET'){
    type = type.toUpperCase()
    // 此处规定get请求的参数使用时放在data中，如同post请求
    if (type === 'GET') {
      let dataStr = ''
      Object.keys(data).forEach(key => {
        dataStr += key + '=' + data[key] + '&'
      })

      if (dataStr !== '') {
        dataStr = dataStr.substr(0, dataStr.lastIndexOf('&'))
        url = url + '?' + dataStr
      }
    }

    let requestConfig = {
      // fetch默认不会带cookie，需要添加配置项credentials允许携带cookie
      method: type,
      headers: {
        'Content-type':'application/json;charset=UTF-8'
      }
    }

    if (type === 'POST' || type === 'PUT') {
      Object.defineProperty(requestConfig, 'body', {
        value: JSON.stringify(data)
      })
    }
    const get_url = Rooturi + url
    return new Promise((resolve) => {
      fetch(get_url, requestConfig)
        .then(res => {
          if(res.ok) {
            resolve (res.json())
          }else {
            resolve({
              status: 500,
              message: res.status
            })
          }
        })
        .catch((err) => {
          resolve({
            status: 500,
            message: err.message
          })
        })
    })
  }
  function Counter() {
    return {
      data: {
        "ApiStatus":"",
        "Domains":"",
        "HasError":false,
        "IPv4":"",
        "IPv6":"",
        "InterFace":"",
        "InterFacesList":[],
        "Proxy":false,
        "ScanTime":0,
        "TaskStatus":"",
        "Token":"",
        "Type":0,
        "ZoneID":"",
        "message":"",
        "status":200
      },
      loading:false,
      passowrd: "",
      set_message: "",
      pow_message: "",
      mounted() {
        console.log(`I'm mounted!`)
        window.bodyClass = 'dark'
        this.GetStatusData()
      },
      async putData(){
        let Proxy = "false"
        if (this.data.Proxy) {
          Proxy = "true"
        }
        const post_data = {
          "ZoneID": this.data.ZoneID,
          "Token": this.data.Token,
          "Type": this.data.Type,
          "Proxy": Proxy,
          "Interfaces": this.data.InterFace,
          "Domains": this.data.Domains,
          "ScanTime": String(this.data.ScanTime),
        }
        const ppp = await httpserver("setconfig", post_data, "PUT")
        if (ppp.status === 200) {
          this.GetStatusData()
        }
        this.set_message = ppp.message
      },
      async GetStatusData(){
        this.loading = false
        this.data = await httpserver("status")
        this.data.Type = String(this.data.Type)
        if (this.data.status === 200) {
          this.loading = true
        }
      },
      async changePassword(){
        const post_data = {
          "Password": this.passowrd
        }
        if (this.passowrd.length >= 8) {
          const ppp = await httpserver("setpassword", post_data, "PUT")
          this.pow_message = ppp.message
        }else{
          this.pow_message = "密码必须大于8位"
        }
      },
      upStatus(){
        this.GetStatusData()
      }
    }
  }
  createApp({
    Counter
  })
  .mount()
</script>

<body>
  <div class="container" v-scope="Counter()" @vue:mounted="mounted">
    <div class="section docs-section" v-if="loading">
      <h6 class="docs-header">接口设置</h6>
      <p class="red" v-if="set_message.length > 0">{{set_message}}</p>
      <div class="row">
        <div class="four columns">
          <label for="exampleEmailInput">更新状态</label>
          <span class="docs-span">{{data.ApiStatus}}</span>
          <button class="button-primary" @click="upStatus" >更新状态</button>
        </div>
        <div class="four columns">
          <label for="exampleEmailInput">任务状态</label>
          <span class="docs-span">{{data.TaskStatus === 'running' ? "运行中" : "已停止"}}</span>
        </div>
        <div class="four columns">
          <label for="exampleEmailInput">是否出错</label>
          <span class="docs-span">{{data.HasError ? "发生错误": "一切正常"}}</span>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label for="exampleEmailInput">IPv4地址</label>
          <span class="docs-span">{{data.IPv4}}</span>
        </div>
        <div class="six columns">
          <label for="exampleEmailInput">IPv6地址</label>
          <span class="docs-span">{{data.IPv6}}</span>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label for="exampleEmailInput">ZoneID</label>
          <input class="u-full-width" type="text" placeholder="ZoneID" v-model=data.ZoneID />
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label for="exampleEmailInput">Token</label>
          <input class="u-full-width" type="text" placeholder="Token" v-model=data.Token />
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label for="exampleEmailInput">域名</label>
          <input class="u-full-width" type="text" placeholder="Domains" v-model=data.Domains />
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label for="exampleRecipientInput">IP类型</label>
          <select class="u-full-width" v-model="data.Type">
            <option value="0">IPv4</option>
            <option value="1">IPv6</option>
            <option value="2">IPv4&IPv6</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label for="exampleRecipientInput">网卡</label>
          <select class="u-full-width" v-model="data.InterFace">
            <option v-for="interface in data.InterFacesList" :value=interface>{{interface}}</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label for="exampleEmailInput">更新频率(秒)</label>
          <input class="u-full-width" type="number" v-model=data.ScanTime />
        </div>
      </div>
      <div class="row">
        <div class="columns">
          <label for="exampleEmailInput">云代理</label>
          <label class="example-send-yourself-copy">
            <input type="checkbox" :value=data.Proxy  v-model=data.Proxy />
            <span class="label-body">云代理</span>
          </label>
        </div>
      </div>
      <button class="button-primary" @click="putData"
        v-if="data.ZoneID.length > 30 
        && data.Token.length > 30
        && data.Type.length > 0
        && data.InterFace.length > 0
        && data.Domains.length > 0
        && data.Domains.indexOf('.') != -1
        && data.ScanTime > 10 ">提交</button>
      <button class="button" v-else disabled>提交</button>
    </div>

    <div class="section docs-section">
      <h6 class="docs-header">密码修改</h6>
      <p class="red" v-if="pow_message.length > 0">{{pow_message}}</p>
      <div class="row">
        <div class="columns">
          <label for="exampleEmailInput">新密码</label>
          <input class="u-full-width" type="text" placeholder="新密码" v-model=passowrd>
        </div>
      </div>
      <button class="button-primary" @click="changePassword"
        v-if="passowrd.length >= 8">修改</button>
      <button class="button" v-else disabled>修改</button>
    </div>
  </div>
</body>
</html>